<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <receiver
            android:name="com.example.verygoodcore.DeviceSecurityReceiver"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.example.verygoodcore.BootReceiver"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
